on init

    # reset_reason
    chown system system /proc/reset_reason
    chmod 0600 /proc/reset_reason

    # To sync between sdcard & installd
    setprop installd.sdcard_manipulate_done 0

on post-fs-data

    # Latin SSMS feature
    mkdir /efs/SMS 0775 radio system

    # PMK permission
    mkdir /efs/mc 0770 radio system
    chown radio system /efs/mc
    chmod 0770 /efs/mc
    chown radio system /efs/mc/mc.dat
    chmod 0640 /efs/mc/mc.dat

    mkdir /data/misc/bluedroiddump 0770 system system
    mkdir /data/misc/eris 0770 system system
    mkdir /data/hs20 0755 wifi system
    mkdir /data/hs20/icons 0755 wifi system
    mkdir /data/misc/wifi_share_profile 0771 wifi system
    mkdir /data/misc/wifi_hostapd 0771 wifi system

    # Professioanl Audio
    mkdir /data/misc/jack 0770 jack system

    # Audio I2C node for TFA amp
    chmod 0660 /dev/i2c-14
    chown system system /dev/i2c-14

    chown system wifi /data/misc/wifi/wpa_supplicant.conf
    mkdir /data/misc/saccessory_manager 0700 system system
    mkdir /data/misc/saccessory_manager/keychain 0700 system system

    # hatp
    mkdir /data/misc/radio/hatp 0755 radio system

    # Samsung Pay
    mkdir /efs/pfw_data 0760 spay spay

    # NFC
    mkdir /data/nfc 0700 nfc nfc
    mkdir /data/nfc/param 0700 nfc nfc
    mkdir /data/bcmnfc 0700 nfc nfc
    mkdir /data/bcmnfc/param 0700 nfc nfc

    # h2k
    mkdir /efs/cpk 0771 radio system
    chmod 0644 /efs/redata.bin
    chmod 0644 /efs/cpk/redata.bin
    chown radio radio /efs/h2k.dat
    chown radio radio /efs/cpk/h2k.dat
    chmod 0644 /efs/h2k.dat
    chmod 0644 /efs/cpk/h2k.dat
    chown system system /efs/drm/h2k

    # icd
    #check_icd
    chown system system /dev/icd
    chmod 0644 /dev/icd
    chown system system /dev/icdr
    chmod 0644 /dev/icdr
    chown system system /dev/tzic
    restorecon /dev/icd
    restorecon /dev/icdr
    
    #SideSync
    chown system system /dev/android_ssusbcon
    chmod 0660 /dev/android_ssusbcon

    # mobicore
    mkdir /data/app/mcRegistry 0775 system system
    mkdir /data/app/mcRegistry/TbStorage 0700 system system
    mkdir /efs/TEE  0770 radio system

    # MTP permission
    chmod 0660 /dev/usb_mtp_gadget
    chown system mtp /dev/usb_mtp_gadget
    mkdir /dev/socket/mtp 0770 system mtp

    #create uibc dir
    mkdir /dev/socket/uibc 0777 media system
    chown media system /dev/socket/uibc
    chmod 0775 /dev/socket/uibc

# [ SEC_MM_DRM
    # DRM directory creation
    mkdir /system/etc/security/.drm 0775
    chown root root /system/etc/security/.drm
    chmod 0775 /system/etc/security/.drm

    # Added for Playready DCM DRM Support
    mkdir /data/.dcmdrm 0775
    chown drm system /data/.dcmdrm
    chmod 0775 /data/.dcmdrm
    mkdir /data/.dcmdrm/.playready 0775
    chown drm system /data/.dcmdrm/.playready
    chmod 0775 /data/.dcmdrm/.playready

    # Added drm folder to copy drm plugins
    mkdir /system/lib/drm 0775
    chown root root /system/lib/drm
    chmod 0775 /system/lib/drm

# ]

on boot

    # for BT MAC address
    mkdir /efs/bluetooth 0775 radio system
    # if already exist
    chown radio system /efs/bluetooth
    chmod 0775 /efs/bluetooth

    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/multi_enter_load
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/multi_enter_load
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/multi_enter_time
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/multi_enter_time
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/multi_exit_load
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/multi_exit_load
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/multi_exit_time
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/multi_exit_time
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/single_enter_load
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/single_enter_load
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/single_enter_time
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/single_enter_time
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/single_exit_load
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/single_exit_load
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/single_exit_time
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/single_exit_time
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/mode
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/mode
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/enforced_mode
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/enforced_mode
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/param_index
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/param_index
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/cpu_util
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/cpu_util
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/multi_cluster0_min_freq
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/multi_cluster0_min_freq
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/single_cluster0_min_freq
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/single_cluster0_min_freq

    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/multi_enter_load
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/multi_enter_load
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/multi_enter_time
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/multi_enter_time
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/multi_exit_load
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/multi_exit_load
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/multi_exit_time
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/multi_exit_time
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/single_enter_load
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/single_enter_load
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/single_enter_time
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/single_enter_time
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/single_exit_load
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/single_exit_load
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/single_exit_time
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/single_exit_time
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/mode
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/mode
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/enforced_mode
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/enforced_mode
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/param_index
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/param_index
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/cpu_util
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/cpu_util
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/multi_cluster0_min_freq
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/multi_cluster0_min_freq
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/single_cluster0_min_freq
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/single_cluster0_min_freq


    # Change permission for dvfshelper
    chown radio system /sys/power/cpufreq_table
    chmod 0664 /sys/power/cpufreq_table
    chown radio system /sys/power/cpufreq_min_limit
    chmod 0664 /sys/power/cpufreq_min_limit
    chown radio system /sys/power/cpufreq_max_limit
    chmod 0664 /sys/power/cpufreq_max_limit

    chown radio system /sys/devices/11400000.mali/dvfs_table
    chown radio system /sys/devices/11400000.mali/dvfs_min_lock
    chown radio system /sys/devices/11400000.mali/dvfs_max_lock
    chmod 0664 /sys/devices/11400000.mali/dvfs_table
    chmod 0664 /sys/devices/11400000.mali/dvfs_min_lock
    chmod 0664 /sys/devices/11400000.mali/dvfs_max_lock

    chown radio system /sys/class/devfreq/bus_mif.7/available_frequencies
    chown radio system /sys/class/devfreq/bus_mif.7/min_freq
    chown radio system /sys/class/devfreq/bus_mif.7/max_freq
    chmod 0664 /sys/class/devfreq/bus_mif.7/available_frequencies
    chmod 0664 /sys/class/devfreq/bus_mif.7/min_freq
    chmod 0664 /sys/class/devfreq/bus_mif.7/max_freq

    chown radio system /sys/class/devfreq/bus_int.6/available_frequencies
    chown radio system /sys/class/devfreq/bus_int.6/min_freq
    chown radio system /sys/class/devfreq/bus_int.6/max_freq
    chmod 0664 /sys/class/devfreq/bus_int.6/available_frequencies
    chmod 0664 /sys/class/devfreq/bus_int.6/min_freq
    chmod 0664 /sys/class/devfreq/bus_int.6/max_freq

    # NFC_NXP
    setprop ro.nfc.port "I2C"
    chmod 0660 /dev/pn547
    chown nfc nfc /dev/pn547
    chown nfc /dev/pn547
    #chgrp nfc /dev/pn547

    # NFC_BROADCOM
    chmod 0600 /dev/bcm2079x
    chown nfc nfc /dev/bcm2079x

    # NFC_SLSI
    chmod 0660 /dev/sec-nfc
    chown nfc nfc /dev/sec-nfc

    # KNOX KAP
    chown system system /dev/knox_kap
    chmod 0660 /dev/knox_kap

    # MST/NFC Switch
    chown spay system /dev/mst_ctrl
    chmod 0660 /dev/mst_ctrl

    #MST Factory Test
    chown system system /sys/class/mstldo/mst_drv/transmit
    chmod 0770 /sys/class/mstldo/mst_drv/transmit

    # mobicore
    chmod 0660 /dev/s5p-smem
    chown system system /dev/s5p-smem
    chmod 0660 /dev/t-base-tui
    chown system system /dev/t-base-tui
    export MC_AUTH_TOKEN_PATH /efs

    chown system system /sys/class/timed_output/vibrator/intensity

    #permission for TSP, Touchkey and Wacom
    chown system radio /sys/class/sec/tsp/cmd
    chmod 0660 /sys/class/sec/tsp/input/enabled
    chown system system /sys/class/sec/tsp/input/enabled

    chmod 0660 /sys/class/sec_touchkey/input/enabled
    chown system system /sys/class/sec/sec_touchkey/input/enabled
	chown system radio /sys/class/sec/sec_touchkey/brightness
	
	chmod 0660 /sys/class/sec/sec_epen/input/enabled
    chown system system /sys/class/sec/sec_epen/input/enabled


    # Switch Device
    chown system radio /sys/class/sec/switch/usb_sel
    chown system radio /sys/class/sec/switch/uart_sel
    chown system radio /sys/class/sec/switch/uart_en
    chown system radio /sys/class/sec/switch/otg_test
    chown system radio /sys/class/sec/switch/apo_factory

    # GPIO DVS
    chown radio system /sys/class/secgpio_check/secgpio_check_all/gpioinit_check
    chown radio system /sys/class/secgpio_check/secgpio_check_all/gpiosleep_check
    chown radio system /sys/class/secgpio_check/secgpio_check_all/checked_sleepGPIO

    # Define default initial receive window size in segments.
    setprop net.tcp.default_init_rwnd 60

   # permission for CHARGING
   mkdir /efs/Battery 0775 radio system
   chown radio system /efs/Battery
   chmod 0775 /efs/Battery
   copy /system/vendor/firmware/battery_data.dat /efs/Battery/battery_data.dat
   chmod 0400 /efs/Battery/battery_data.dat
   write /sys/class/power_supply/battery/batt_update_data "/efs/Battery/battery_data.dat"
   chown system radio /sys/class/power_supply/battery/batt_ext_dev_chg
   chown system radio /sys/class/power_supply/battery/batt_reset_soc
   chown system radio /sys/class/power_supply/battery/batt_slate_mode
   chown system radio /sys/class/power_supply/battery/factory_mode
   chown system radio /sys/class/power_supply/battery/siop_level
   chown system radio /sys/class/power_supply/battery/siop_event
   chown system radio /sys/class/power_supply/battery/wc_enable
   chown system nfc /sys/class/power_supply/battery/wc_control
   chown system nfc /sys/class/power_supply/battery/wc_control_cnt
   chown system radio /sys/class/power_supply/battery/update
   chown system radio /sys/class/power_supply/battery/factory_mode_relieve
   chown system radio /sys/class/power_supply/battery/factory_mode_bypass
   chown media sdcard_rw /sys/class/power_supply/battery/store_mode
   chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/call
   chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/video
   chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/music
   chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/browser
   chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/hotspot
   chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/camera
   chown system radio /sys/class/power_supply/battery/talk_wcdma
   chown system radio /sys/class/power_supply/battery/talk_gsm
   chown system radio /sys/class/power_supply/battery/call
   chown system radio /sys/class/power_supply/battery/data_call
   chown system radio /sys/class/power_supply/battery/gps
   chown system radio /sys/class/power_supply/battery/wifi
   chown system radio /sys/class/power_supply/battery/lte
   chown system radio /sys/class/power_supply/battery/lcd
   chown system radio /sys/class/power_supply/ps/status
   chmod 0664 /sys/class/power_supply/battery/wc_control
   chmod 0664 /sys/class/power_supply/battery/wc_control_cnt
   chmod 0664 /sys/class/power_supply/ps/status
   chmod 0664 /sys/class/power_supply/battery/batt_temp_table
   chown system radio /sys/class/power_supply/battery/batt_temp_table
   chown system radio /sys/class/power_supply/battery/batt_high_current_usb
   chown system radio /sys/class/power_supply/battery/batt_inbat_voltage
   chmod 0664 /sys/class/power_supply/battery/batt_high_current_usb
   chown system radio /sys/class/power_supply/battery/hmt_ta_connected
   chown system radio /sys/class/power_supply/battery/hmt_ta_charge
   chown system radio /sys/class/power_supply/battery/battery_cycle
   chown system radio /sys/class/power_supply/otg/online
   chmod 0664 /sys/class/power_supply/otg/online
   chown system radio /sys/class/power_supply/max77833-charger/charge_otg_control
   chown system radio /sys/class/power_supply/battery/charge_otg_control
   chown system radio /sys/class/power_supply/battery/charge_uno_control
   chown system radio /sys/class/power_supply/battery/batt_wireless_firmware_update
   chown system radio /sys/class/power_supply/battery/otp_firmware_result
   chown system radio /sys/class/power_supply/battery/wc_ic_grade
   chown system radio /sys/class/power_supply/battery/otp_firmware_ver_bin
   chown system radio /sys/class/power_supply/battery/otp_firmware_ver
   chown system radio /sys/class/power_supply/battery/tx_firmware_result
   chown system radio /sys/class/power_supply/battery/batt_tx_firmware
   chown system radio /sys/class/power_supply/battery/batt_hv_wireless_status
   chown system radio /sys/class/power_supply/battery/batt_hv_wireless_pad_ctrl
   chmod 0664 /sys/class/power_supply/max77833-charger/charge_otg_control
   chmod 0664 /sys/class/power_supply/battery/charge_otg_control
   chmod 0664 /sys/class/power_supply/battery/charge_uno_control
   chmod 0664 /sys/class/power_supply/battery/batt_wireless_firmware_update
   chmod 0664 /sys/class/power_supply/battery/otp_firmware_result
   chmod 0664 /sys/class/power_supply/battery/wc_ic_grade
   chmod 0664 /sys/class/power_supply/battery/otp_firmware_ver_bin
   chmod 0664 /sys/class/power_supply/battery/otp_firmware_ver
   chmod 0664 /sys/class/power_supply/battery/tx_firmware_result
   chmod 0664 /sys/class/power_supply/battery/tx_firmware_ver
   chmod 0664 /sys/class/power_supply/battery/batt_tx_firmware
   chmod 0664 /sys/class/power_supply/battery/batt_hv_wireless_status
   chmod 0664 /sys/class/power_supply/battery/batt_hv_wireless_pad_ctrl
   chown system radio /sys/class/power_supply/battery/tx_firmware_result
   chown system radio /sys/class/power_supply/battery/batt_tune_chg_limit_cur
   chown system radio /sys/class/power_supply/battery/batt_tune_chg_temp_high
   chown system radio /sys/class/power_supply/battery/batt_tune_chg_temp_rec
   chown system radio /sys/class/power_supply/battery/batt_tune_coil_limit_cur
   chown system radio /sys/class/power_supply/battery/batt_tune_coil_temp_high
   chown system radio /sys/class/power_supply/battery/batt_tune_coil_temp_rec
   chown system radio /sys/class/power_supply/battery/batt_tune_fast_charge_current
   chown system radio /sys/class/power_supply/battery/batt_tune_float_voltage
   chown system radio /sys/class/power_supply/battery/batt_tune_intput_charge_current
   chown system radio /sys/class/power_supply/battery/batt_tune_temp_high_event
   chown system radio /sys/class/power_supply/battery/batt_tune_temp_high_normal
   chown system radio /sys/class/power_supply/battery/batt_tune_temp_high_rec_event
   chown system radio /sys/class/power_supply/battery/batt_tune_temp_high_rec_normal
   chown system radio /sys/class/power_supply/battery/batt_tune_temp_low_event
   chown system radio /sys/class/power_supply/battery/batt_tune_temp_low_normal
   chown system radio /sys/class/power_supply/battery/batt_tune_temp_low_rec_event
   chown system radio /sys/class/power_supply/battery/batt_tune_temp_low_rec_normal
   chown system radio /sys/class/power_supply/battery/batt_tune_ui_term_cur_1st
   chown system radio /sys/class/power_supply/battery/batt_tune_ui_term_cur_2nd
   chmod 0664 /sys/class/power_supply/battery/batt_tune_chg_limit_cur
   chmod 0664 /sys/class/power_supply/battery/batt_tune_chg_temp_high
   chmod 0664 /sys/class/power_supply/battery/batt_tune_chg_temp_rec
   chmod 0664 /sys/class/power_supply/battery/batt_tune_coil_limit_cur
   chmod 0664 /sys/class/power_supply/battery/batt_tune_coil_temp_high
   chmod 0664 /sys/class/power_supply/battery/batt_tune_coil_temp_rec
   chmod 0664 /sys/class/power_supply/battery/batt_tune_fast_charge_current
   chmod 0664 /sys/class/power_supply/battery/batt_tune_float_voltage
   chmod 0664 /sys/class/power_supply/battery/batt_tune_intput_charge_current
   chmod 0664 /sys/class/power_supply/battery/batt_tune_temp_high_event
   chmod 0664 /sys/class/power_supply/battery/batt_tune_temp_high_normal
   chmod 0664 /sys/class/power_supply/battery/batt_tune_temp_high_rec_event
   chmod 0664 /sys/class/power_supply/battery/batt_tune_temp_high_rec_normal
   chmod 0664 /sys/class/power_supply/battery/batt_tune_temp_low_event
   chmod 0664 /sys/class/power_supply/battery/batt_tune_temp_low_normal
   chmod 0664 /sys/class/power_supply/battery/batt_tune_temp_low_rec_event
   chmod 0664 /sys/class/power_supply/battery/batt_tune_temp_low_rec_normal
   chmod 0664 /sys/class/power_supply/battery/batt_tune_ui_term_cur_1st
   chmod 0664 /sys/class/power_supply/battery/batt_tune_ui_term_cur_2nd

    # Sensors permissions
    # Accelerometer_sensor
    chown system radio /sys/class/sensors/accelerometer_sensor/raw_data
    chown system radio /sys/class/sensors/accelerometer_sensor/calibration
    chown system radio /sys/class/sensors/accelerometer_sensor/reactive_alert
    chown system radio /sys/class/sensors/accelerometer_sensor/selftest
    chown system radio /sys/class/sensors/accelerometer_sensor/vendor
    chown system radio /sys/class/sensors/accelerometer_sensor/name
    chown system system /efs/calibration_data
    chmod 0666 /efs/calibration_data
    # Proximity_sensor
    chown system radio /sys/class/sensors/proximity_sensor/state
    chown system radio /sys/class/sensors/proximity_sensor/raw_data
    chown system radio /sys/class/sensors/proximity_sensor/prox_avg
    chown system radio /sys/class/sensors/proximity_sensor/prox_cal
    chown system radio /sys/class/sensors/proximity_sensor/prox_thresh
    chown system radio /sys/class/sensors/proximity_sensor/thresh_high
    chown system radio /sys/class/sensors/proximity_sensor/thresh_low
    chown system radio /sys/class/sensors/proximity_sensor/vendor
    chown system radio /sys/class/sensors/proximity_sensor/name
    # Light_sensor
    chown system radio /sys/class/sensors/light_sensor/lux
    chown system radio /sys/class/sensors/light_sensor/raw_data
    chown system radio /sys/class/sensors/light_sensor/vendor
    chown system radio /sys/class/sensors/light_sensor/name
    # Gyro_sensor
    chown system radio /sys/class/sensors/gyro_sensor/power_on
    chown system radio /sys/class/sensors/gyro_sensor/power_off
    chown system radio /sys/class/sensors/gyro_sensor/temperature
    chown system radio /sys/class/sensors/gyro_sensor/selftest
    chown system radio /sys/class/sensors/gyro_sensor/selftest_dps
    chown system radio /sys/class/sensors/gyro_sensor/vendor
    chown system radio /sys/class/sensors/gyro_sensor/name
    # Magnetic_sensor
    chown system radio /sys/class/sensors/magnetic_sensor/selftest
    chown system radio /sys/class/sensors/magnetic_sensor/raw_data
    chown system radio /sys/class/sensors/magnetic_sensor/adc
    chown system radio /sys/class/sensors/magnetic_sensor/vendor
    chown system radio /sys/class/sensors/magnetic_sensor/name
    chown system radio /sys/class/sensors/magnetic_sensor/status
    # MPL IIO
    chown system system /dev/invensense
    chown system system /sys/bus/iio/devices/invensense/buffer/enable
    chown system system /sys/bus/iio/devices/invensense/buffer/length
    chown system system /sys/bus/iio/devices/invensense/control
    chmod 0660 /dev/invensense
    chmod 0664 /sys/bus/iio/devices/invensense/buffer/enable
    chmod 0664 /sys/bus/iio/devices/invensense/buffer/length
    chmod 0664 /sys/bus/iio/devices/invensense/control

    #Meta event
    chown system radio /sys/class/sensors/sensor_dev/flush

    # usb detect
    mkdir /dev/bus 0755 root root
    mkdir /dev/bus/usb 0755 root root

    # OTG Test
    chown system radio /sys/class/host_notify/usb_otg/booster
    chmod 0664 /sys/class/host_notify/usb_otg/booster

    # usb disable
    chown system usb /sys/class/usb_notify/usb_control/disable
    chmod 0664 /sys/class/usb_notify/usb_control/disable

    write /sys/block/mmcblk0/queue/scheduler noop
    write /sys/block/sda/queue/scheduler noop

    copy /system/etc/battery_charging_temp.data /sys/class/power_supply/battery/batt_temp_table

service scs /system/bin/scs
    class main
    user system
    group system
    oneshot

# MobiCore startup
service mobicore /system/bin/mcDriverDaemon -r /system/app/FFFFFFFF000000000000000000000001.drbin -r /system/app/mcRegistry/ffffffffd0000000000000000000000a.tlbin -r /system/app/mcRegistry/ffffffffd00000000000000000000016.tlbin
    class core
    user system
    group system
    oneshot

# Sensorhub service
service sensorhubservice /system/bin/sensorhubservice
    class main
    user system
    group input

# for Wi-Fi only models
on property:ro.radio.noril=yes
    stop ril-daemon

service ril-daemon /system/bin/rild
    class main
    socket rild stream 660 root radio
    socket rild-debug stream 660 radio system
    socket rild-cas stream 660  casdrm mmb
    user root
    group radio cache inet misc audio sdcard_r sdcard_rw log vpn system
    onrestart restart cpboot-daemon

service ril-daemon1 /system/bin/rild -c 2
    class main
    socket rild2 stream 660 root radio
    socket rild-debug2 stream 660 radio system
    user root
    group radio cache inet misc audio sdcard_r sdcard_rw log
    disabled
    onrestart restart cpboot-daemon

on property:persist.sys.cpboot=disable
    stop ril-daemon
    stop cpboot-daemon

# start multiple rilds based on multisim property
on property:ro.multisim.simslotcount=2
    stop ril-daemon
    start ril-daemon
    start ril-daemon1	

