on init
    mkdir /efs 0771 radio system
    symlink /dev/block/platform/13540000.dwmmc0/by-name/RADIO /dev/mbin0
    restorecon /dev/mbin0
    write /sys/class/net/rmnet0/queues/rx-0/rps_cpus 6
    write /sys/class/net/rmnet1/queues/rx-0/rps_cpus 6
    write /sys/class/net/rmnet2/queues/rx-0/rps_cpus 6
    write /sys/class/net/rmnet3/queues/rx-0/rps_cpus 6
    write /sys/class/net/rmnet4/queues/rx-0/rps_cpus 6
    write /sys/class/net/rmnet5/queues/rx-0/rps_cpus 6
    write /sys/class/net/rmnet6/queues/rx-0/rps_cpus 6
    write /sys/class/net/rmnet7/queues/rx-0/rps_cpus 6

on property:ril.cbd.dt_revision=005
    rm /dev/mbin0

on property:ril.cbd.dt_revision=006
    rm /dev/mbin0

on property:ril.cbd.dt_revision=007
    rm /dev/mbin0

on property:ril.cbd.dt_revision=008
    rm /dev/mbin0

on property:ril.cbd.dt_revision=009
    rm /dev/mbin0

on fs
    chown radio system /efs
    chmod 0771 /efs
    chown radio radio sys/devices/virtual/misc/multipdp/waketime
    chmod 0660 /sys/devices/virtual/misc/umts_dm0/dm_state
    chown radio system /sys/devices/virtual/misc/umts_dm0/dm_state

    #For cpefs partition
    mkdir /cpefs 0771 radio system
    wait /dev/block/platform/13540000.dwmmc0/by-name/CPEFS
    #check_fs /dev/block/platform/13540000.dwmmc0/by-name/CPEFS ext4
    mount ext4 /dev/block/platform/13540000.dwmmc0/by-name/CPEFS /cpefs noatime nosuid nodev barrier=1
    chown radio system /cpefs
    chmod 0771 /cpefs

on post-fs-data
    # Remove symlinks to avoid issues with migrate after nandroid restores
    # Will be recreated at end of boot
    rmdir /data/data/com.android.providers.telephony/databases
    rmdir /data/data/com.android.providers.telephony/shared_prefs
    rm /data/data/com.android.providers.telephony/databases
    rm /data/data/com.android.providers.telephony/shared_prefs

on property:sys.boot_completed=1
    # Symlink directories to access telephony.db and preferred-apn.xml required by cbd
    symlink /data/user_de/0/com.android.providers.telephony/databases /data/data/com.android.providers.telephony/databases
    symlink /data/user_de/0/com.android.providers.telephony/shared_prefs /data/data/com.android.providers.telephony/shared_prefs

service cpboot-daemon /sbin/cbd -d -tss310 -bm -mm -P platform/13540000.dwmmc0/by-name/RADIO
    class main
    user root
    group radio cache inet misc audio sdcard_rw log sdcard_r shell
    seclabel u:r:cpboot-daemon:s0


