import init.samsungexynos7580.usb.rc
import init.baseband.rc
import init.wifi.rc
import init.samsung.rc
import init.power.rc

on early-init
    mount debugfs /sys/kernel/debug /sys/kernel/debug mode=755

on init
    export LD_SHIM_LIBS "/system/bin/gpsd|libshim_gpsd.so"
    mkdir /preload 0771 system system

    # See storage config details at http://source.android.com/tech/storage/
    mkdir /mnt/shell/emulated 0700 shell shell
    mkdir /storage/emulated 0555 root root

    # Support legacy paths
    symlink /sdcard /storage/sdcard0
    symlink /storage/usbdisk /mnt/usbdisk

    export EXTERNAL_STORAGE /sdcard

    symlink /data/app /factory
    symlink /dev/block/platform/13540000.dwmmc0/by-name/PERSISTENT /dev/block/persistent

on post-fs-data
    mkdir /data/media 0770 media_rw media_rw

    setprop vold.post_fs_data_done 1

# Permissions for audio
    chown system radio /sys/class/audio/earjack/select_jack
    chown system radio /sys/class/audio/earjack/key_state
    chown system radio /sys/class/audio/earjack/state
    chown system radio /sys/class/audio/earjack/mic_adc

# Permissions for dbmd2
    chown system audio /sys/class/voice_trigger/dbd2/vqe_use_case
    chmod 0664 /sys/class/voice_trigger/dbd2/vqe_use_case
    chown system audio /sys/class/voice_trigger/dbd2/d2paramaddr
    chmod 0220 /sys/class/voice_trigger/dbd2/d2paramaddr
    chown system audio /sys/class/voice_trigger/dbd2/d2param
    chmod 0664 /sys/class/voice_trigger/dbd2/d2param
    chown system audio /sys/class/voice_trigger/dbd2/vqe_spkvollvl
    chmod 0664 /sys/class/voice_trigger/dbd2/vqe_spkvollvl
    chown system audio /sys/class/voice_trigger/dbd2/reboot
    chmod 0664 /sys/class/voice_trigger/dbd2/reboot
    chown system audio /sys/class/voice_trigger/dbd2/va_load_amodel
    chmod 0664 /sys/class/voice_trigger/dbd2/va_load_amodel
    mkdir /data/firmware 0770 media system
    chown media system /data/firmware

on boot
    # Allow to access debugfs
    chmod 755 /sys/kernel/debug

    # Set up kernel tracing, but disable it by default
    chmod 0222 /sys/kernel/debug/tracing/trace_marker
    write /sys/kernel/debug/tracing/tracing_on 0

    # Change permission for GPU
    chown system system /sys/devices/11400000.mali/power_policy
    chmod 0664 /sys/devices/11400000.mali/power_policy

    # Dynamic cluster hotplug
    chown system system /sys/devices/system/cpu/clusterhotplug/force_hstate
    chmod 0660 /sys/devices/system/cpu/clusterhotplug/force_hstate
    chown system system /sys/devices/system/cpu/clusterhotplug/min_lock
    chmod 0660 /sys/devices/system/cpu/clusterhotplug/min_lock
    chown system system /sys/devices/system/cpu/clusterhotplug/max_lock
    chmod 0660 /sys/devices/system/cpu/clusterhotplug/max_lock

    # C-STATE
    chown system system /sys/module/cpuidle/parameters/off
    chmod 0660 /sys/module/cpuidle/parameters/off

    # Change permission for dvfshelper
    chown radio system /sys/class/devfreq/17000020.bus_mif/available_frequencies
    chown radio system /sys/class/devfreq/17000020.bus_mif/min_freq
    chown radio system /sys/class/devfreq/17000020.bus_mif/max_freq
    chmod 0664 /sys/class/devfreq/17000020.bus_mif/available_frequencies
    chmod 0664 /sys/class/devfreq/17000020.bus_mif/min_freq
    chmod 0664 /sys/class/devfreq/17000020.bus_mif/max_freq

    chown radio system /sys/class/devfreq/17000010.bus_int/available_frequencies
    chown radio system /sys/class/devfreq/17000010.bus_int/min_freq
    chown radio system /sys/class/devfreq/17000010.bus_int/max_freq
    chmod 0664 /sys/class/devfreq/17000010.bus_int/available_frequencies
    chmod 0664 /sys/class/devfreq/17000010.bus_int/min_freq
    chmod 0664 /sys/class/devfreq/17000010.bus_int/max_freq

    # CPU Idle
    chown system system /sys/module/cpuidle_exynos64_smp/parameters/enable_mask

    # Change permission for interactive governor
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_rate
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_rate
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_slack
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_slack
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/min_sample_time
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/min_sample_time
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/above_hispeed_delay
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/above_hispeed_delay
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/boost
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/boost
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/input_boost
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/input_boost
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse_duration
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse_duration
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/io_is_busy
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/io_is_busy

    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_rate
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_rate
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_slack
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_slack
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/min_sample_time
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/min_sample_time
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/hispeed_freq
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/hispeed_freq
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/target_loads
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/target_loads
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/go_hispeed_load
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/go_hispeed_load
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/above_hispeed_delay
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/above_hispeed_delay
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/boost
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/boost
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/boostpulse
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/input_boost
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/input_boost
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/boostpulse_duration
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/boostpulse_duration
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/io_is_busy
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/io_is_busy

    chown system log /proc/sec_log

    chown bluetooth net_bt_stack /dev/ttySAC3
    chmod 0660 /dev/ttySAC3
# permissions for bluetooth.
    setprop ro.bt.bdaddr_path "/efs/bluetooth/bt_addr"
    chown bluetooth net_bt_stack ro.bt.bdaddr_path
    chown radio net_bt_stack /efs/bluetooth/bt_addr
    chmod 0640 /efs/bluetooth/bt_addr
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/type

    # IR_LED
    chown system radio /sys/class/sec/sec_ir/ir_send
    chown system radio /sys/class/sec/sec_ir/ir_send_result

    # SVC LED
    chown system system /sys/class/sec/led/led_r
    chown system system /sys/class/sec/led/led_g
    chown system system /sys/class/sec/led/led_b

    chown system system /sys/class/leds/led_r/brightness
    chown system system /sys/class/leds/led_g/brightness
    chown system system /sys/class/leds/led_b/brightness
    chown system system /sys/class/leds/led_r/delay_on
    chown system system /sys/class/leds/led_g/delay_on
    chown system system /sys/class/leds/led_b/delay_on
    chown system system /sys/class/leds/led_r/delay_off
    chown system system /sys/class/leds/led_g/delay_off
    chown system system /sys/class/leds/led_b/delay_off
    chown system system /sys/class/leds/led_r/blink
    chown system system /sys/class/leds/led_g/blink
    chown system system /sys/class/leds/led_b/blink

    chown system system /sys/class/sec/led/led_pattern
    chown system system /sys/class/sec/led/led_blink
    chown system system /sys/class/sec/led/led_br_lev
    chown system system /sys/class/sec/led/led_lowpower

    # HALL IC IRQ CTRL
    chown system system /sys/class/sec/sec_key/hall_irq_ctrl

# MSP FactoryApp
    mkdir /efs/FactoryApp 0775 system system

# IMEI folder
	mkdir /efs/imei 0775 radio system

    # DRK permission
    mkdir /efs/prov 0770 radio system
    mkdir /efs/prov_data 0770 radio system
    chown radio system /efs/prov_data/dev_root
    chmod 0770 /efs/prov_data/dev_root
    chown radio system /efs/prov_data/knox
    chmod 0770 /efs/prov_data/knox
    chown radio system /efs/prov_data/dev_root/dev_root.dat
    chmod 0640 /efs/prov_data/dev_root/dev_root.dat
    chown radio system /efs/prov/libdevkm.lock
    chmod 0660 /efs/prov/libdevkm.lock
    write /efs/prov/ffffffff00000000000000000000000c.tlbin 0
    chown radio system /efs/prov/ffffffff00000000000000000000000c.tlbin
    chmod 0660 /efs/prov/ffffffff00000000000000000000000c.tlbin

    # CS socket
    mkdir /dev/socket/cs_socket 0770 system system

    # Switch Device
    chown system radio /sys/class/sec/switch/usb_state
    chown system radio /sys/class/sec/switch/chg_type

#for datarouter
    chown system system /dev/dun
    chown system system /dev/ttyGS0
    chown system system /dev/ttyGS1
    chown system system /dev/ttyGS2
    chown system system /dev/ttyGS3

# OTG_TEST
    chown system radio /sys/class/sec/switch/otg_test
    chown system radio /sys/class/host_notify/usb_otg/booster
    chmod 0660 /sys/class/host_notify/usb_otg/booster

# IPSec for VOLTE
    chown root system /dev/socket
    chmod 0775 /dev/socket

on fs
    mount_all /fstab.samsungexynos7580
    setprop ro.crypto.fuse_sdcard true

# Permissions for ION
    chmod 0660 /sys/class/ion_cma/ion_video_ext/isolated
    chown system system /sys/class/ion_cma/ion_video_ext/isolated

# Permissions for backlight
    chmod 0660 /sys/class/backlight/panel/brightness
    chown system system /sys/class/backlight/panel/brightness
    chown system system /sys/class/backlight/panel/auto_brightness

# Permissions for LCD
    chown system radio /sys/class/lcd/panel/manufacture_code
    chown system radio /sys/class/lcd/panel/lcd_type
    chown system system /sys/class/lcd/panel/siop_enable
    chown system system /sys/class/lcd/panel/temperature
    chown system radio /sys/class/lcd/panel/mcd_mode
    chown system radio /sys/class/lcd/panel/power_reduce
    chown system media_rw /sys/class/backlight/panel/weakness_hbm_comp

# Permissions for MDNIE
    chown system media_rw /sys/class/mdnie/mdnie/mode
    chown system media_rw /sys/class/mdnie/mdnie/scenario
    chown system system /sys/class/mdnie/mdnie/accessibility
    chown system system /sys/class/mdnie/mdnie/auto_brightness
    chown system system /sys/class/mdnie/mdnie/sensorRGB

#For Absolute Persistence Partition
    mkdir /persdata 0755 system system
    mkdir /persdata/absolute 0750 system system

    wait /dev/block/platform/13540000.dwmmc0/by-name/PERSDATA
    mount ext4 /dev/block/platform/13540000.dwmmc0/by-name/PERSDATA /persdata/absolute nosuid nodev barrier=1

    chown system system /persdata
    chmod 0755 /persdata
    chown system system /persdata/absolute
    chmod 0750 /persdata/absolute

# Copy DRM Key
    copy /system/app/wv.keys /factory/wv.keys

# Permission for DRM Key
    chmod 0644 /factory/wv.keys

# Permissions for TouchScreen
    chown system radio /sys/class/sec/tsp/cmd
    chown system system /sys/class/sec/tsp/input/enabled

# Permissions for Touchkey
    chown system radio /sys/class/sec/sec_touchkey/brightness
    chown system radio /sys/class/sec/sec_touchkey/touchkey_firm_update
    chown system radio /sys/class/sec/sec_touchkey/touch_sensitivity
    chown system radio /sys/class/sec/sec_touchkey/glove_mode
    chown system radio /sys/class/sec/sec_touchkey/flip_mode
    chown system system /sys/class/sec/sec_touchkey/input/enabled

# Permissions for gpio_keys
    chown radio system /sys/class/sec/sec_key/wakeup_keys
    write /sys/class/sec/sec_key/wakeup_keys 116,172
# Fingerprint
    mkdir /dev/validity 0770 system system

 # create data/gps for GPS daemon
    chown root system /dev/ttySAC0
    chmod 0660 /dev/ttySAC0
    chown root system /sys/class/sec/gps/GPS_PWR_EN/value
    chmod 0664 /sys/class/sec/gps/GPS_PWR_EN/value
    mkdir /data/system 0771 system system
    chown system system /data/system
    mkdir /data/system/gps 0771 system system
    chown system system /data/system/gps
    rm /data/system/gps/gps_started
    rm /data/system/gps/glonass_started
    rm /data/system/gps/smd_started
    rm /data/system/gps/sv_cno.info

# MTP permission
    chmod 0660 /dev/usb_mtp_gadget
    chown system mtp /dev/usb_mtp_gadget

# terminal mode
    chmod 0660 /sys/class/android_usb/android0/terminal_version
    chown system system /sys/class/android_usb/android0/terminal_version

# for datarouter
    chown system system /dev/dun
    chown system system /dev/ttyGS0
    chown system system /dev/ttyGS1
    chown system system /dev/ttyGS2
    chown system system /dev/ttyGS3

# Permission for flashlight control for HAL3.3
    chmod 0660 /sys/class/camera/flash/rear_torch_flash
    chown media system /sys/class/camera/flash/rear_torch_flash
    chmod 0660 /sys/class/camera/flash/front_torch_flash
    chown media system /sys/class/camera/flash/front_torch_flash

# Permissions Camera
    chown system radio /sys/class/camera/rear/rear_camfw
    chown system radio /sys/class/camera/rear/rear_camfw_full
    chown system radio /sys/class/camera/rear/rear_checkfw_user
    chown system radio /sys/class/camera/rear/rear_checkfw_factory
    chown system radio /sys/class/camera/rear/rear_sensor_standby
    chown system radio /sys/class/camera/rear/rear_camtype
    chown system radio /sys/class/camera/rear/rear_companionfw
    chown system radio /sys/class/camera/rear/rear_companionfw_full
    chown system radio /sys/class/camera/rear/rear_calcheck
    chown system radio /sys/class/camera/rear/rear_caminfo
    chown system radio /sys/class/camera/rear/from_write
    chown system radio /sys/class/camera/rear/isp_core
    chown system radio /sys/class/camera/rear/fw_update
    chown system radio /sys/class/camera/flash/rear_flash
    chown system radio /sys/class/camera/flash/front_flash
    chown system radio /sys/class/camera/front/front_camfw
    chown system radio /sys/class/camera/front/front_camtype
    chown system radio /sys/class/camera/front/front_caminfo
    chown system radio /sys/class/camera/ois/selftest
    chown system radio /sys/class/camera/ois/ois_power
    chown system radio /sys/class/camera/ois/ois_rawdata
    chown system radio /sys/class/camera/ois/oisfw
    chown system radio /sys/class/camera/ois/ois_diff
    chown system radio /sys/class/camera/ois/fw_update
    chown system radio /sys/class/camera/ois/ois_exif

# SENSORS
# Accelerometer_sensor
    chown system radio /sys/class/sensors/accelerometer_sensor/raw_data
    chown system radio /sys/class/sensors/accelerometer_sensor/calibration
    chown system radio /sys/class/sensors/accelerometer_sensor/reactive_alert
    chown system radio /sys/class/sensors/accelerometer_sensor/vendor
    chown system radio /sys/class/sensors/accelerometer_sensor/name
    chown system radio /sys/class/sensors/accelerometer_sensor/selftest
    chown system radio /sys/class/sensors/accelerometer_sensor/lowpassfilter

# Proximity_sensor
    chown system radio /sys/class/sensors/proximity_sensor/state
    chown system radio /sys/class/sensors/proximity_sensor/raw_data
    chown system radio /sys/class/sensors/proximity_sensor/prox_avg
    chown system radio /sys/class/sensors/proximity_sensor/prox_cal
    chown system radio /sys/class/sensors/proximity_sensor/vendor
    chown system radio /sys/class/sensors/proximity_sensor/name
    chown system radio /sys/class/sensors/proximity_sensor/thresh_high
    chown system radio /sys/class/sensors/proximity_sensor/thresh_low
    chown system radio /sys/class/sensors/proximity_sensor/barcode_emul_en
    chown system radio /sys/class/sensors/proximity_sensor/prox_offset_pass
    chown system radio /sys/class/sensors/proximity_sensor/prox_trim

 # Meta_sensor
    chown system radio /sys/class/sensors/sensor_dev/flush

# ARGOSD network_throughput
    chown system system /dev/network_throughput

# ARGOSD
service argos-daemon /system/bin/argosd
    class main
    user system
    group system radio

# IPSec for VOLTE
service ipsec-daemon /system/bin/IPSecService
    class main
    socket ipsec_socket stream 660 system system
    user system
    group system net_raw inet net_admin

# GPS
service gpsd /system/bin/gpsd -c /system/etc/gps.xml
    class main
    user gps
    group system wakelock inet net_raw
    ioprio be 0

service taa_service /system/bin/taadaemon
    class core
    socket taa stream 0666 system system
    user system
    group system
    disabled

on property:sys.tzdaemon=Ready
    start taa_service

on property:init.svc.tz_service=stopped
    setprop sys.tzdaemon NotReady


# Set watchdog timer to 30 seconds and pet it every 10 seconds to get a 20 second margin
service watchdogd /sbin/watchdogd 10 20
    class core
    seclabel u:r:watchdogd:s0
    disabled

# on userdebug and eng builds, enable kgdb on the serial console
on property:ro.debuggable=1
    write /sys/module/kgdboc/parameters/kgdboc ttyFIQ1
    write /sys/module/fiq_debugger/parameters/kgdb_enable 1

on property:sys.boot_completed=1
    write /proc/sys/vm/dirty_bytes 31457280
    write /proc/sys/vm/dirty_background_bytes 15728640

# Kick watchdogd if debug_level is low
on property:ro.debug_level=0x4f4c
    start watchdogd


service battery_charger /sbin/healthd -c
    class charger
    critical
    seclabel u:r:healthd:s0

# LPM
on property:ro.bootmode=charger
    mount ext4 /dev/block/platform/13540000.dwmmc0/by-name/SYSTEM /system wait ro
    wait /dev/block/platform/13540000.dwmmc0/by-name/EFS
    mount ext4 /dev/block/platform/13540000.dwmmc0/by-name/EFS /efs nosuid nodev noatime noauto_da_alloc,discard,journal_async_commit

on property:sys.tzdaemon=Ready
    start taa_service

on charger
    # Set cpu governor to powersave while in charging mode
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor powersave
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor powersave
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor powersave
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor powersave

    # EHCI runtime enable for LPA
    write /sys/devices/platform/s5p-ehci/power/control auto

    # Do not set any USB mode while charging
    setprop sys.usb.config charging


# DRK/CS service
service cs_service /system/bin/cs
    class main
    user system
    group system
    disabled

on property:sys.mobicoredaemon.enable=true
    start cs_service
    write /proc/iccc_ready 1

