on boot

	chown radio system /sys/power/cpufreq_table
    chown radio system /sys/power/cpufreq_min_limit
    chown radio system /sys/power/cpufreq_max_limit
    chmod 0664 /sys/power/cpufreq_table
    chmod 0664 /sys/power/cpufreq_min_limit
    chmod 0664 /sys/power/cpufreq_max_limit

    chown radio system /sys/devices/11400000.mali/dvfs_table
    chown radio system /sys/devices/11400000.mali/dvfs_min_lock
    chown radio system /sys/devices/11400000.mali/dvfs_max_lock
    chmod 0664 /sys/devices/11400000.mali/dvfs_table
    chmod 0664 /sys/devices/11400000.mali/dvfs_min_lock
    chmod 0664 /sys/devices/11400000.mali/dvfs_max_lock

    chown radio system /sys/class/devfreq/bus_mif.6/available_frequencies
    chown radio system /sys/class/devfreq/bus_mif.6/min_freq
    chown radio system /sys/class/devfreq/bus_mif.6/max_freq
    chmod 0664 /sys/class/devfreq/bus_mif.6/available_frequencies
    chmod 0664 /sys/class/devfreq/bus_mif.6/min_freq
    chmod 0664 /sys/class/devfreq/bus_mif.6/max_freq

    chown radio system /sys/class/devfreq/bus_int.5/available_frequencies
    chown radio system /sys/class/devfreq/bus_int.5/min_freq
    chown radio system /sys/class/devfreq/bus_int.5/max_freq
    chmod 0664 /sys/class/devfreq/bus_int.5/available_frequencies
    chmod 0664 /sys/class/devfreq/bus_int.5/min_freq
    chmod 0664 /sys/class/devfreq/bus_int.5/max_freq
    
    
   # Permission for CHARGING
   mkdir /efs/Battery 0775 radio system
   chown radio system /efs/Battery
   chmod 0775 /efs/Battery
   chown system radio /sys/class/power_supply/battery/batt_reset_soc
   chown system radio /sys/class/power_supply/battery/batt_slate_mode
   chown system radio /sys/class/power_supply/battery/factory_mode
   chown system radio /sys/class/power_supply/battery/siop_level
   chown system radio /sys/class/power_supply/battery/wc_enable
   chown system radio /sys/class/power_supply/battery/update
   chown media sdcard_rw /sys/class/power_supply/battery/store_mode
   chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/call
   chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/video
   chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/music
   chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/browser
   chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/hotspot
   chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/camera
   chown system radio /sys/class/power_supply/battery/talk_wcdma
   chown system radio /sys/class/power_supply/battery/talk_gsm
   chown system radio /sys/class/power_supply/battery/call
   chown system radio /sys/class/power_supply/battery/data_call
   chown system radio /sys/class/power_supply/battery/gps
   chown system radio /sys/class/power_supply/battery/wifi
   chown system radio /sys/class/power_supply/battery/lte
   chown system radio /sys/class/power_supply/battery/lcd
   chown system radio /sys/class/power_supply/ps/status
   chmod 0664 /sys/class/power_supply/ps/status
   chmod 0664 /sys/class/power_supply/battery/batt_temp_table
   chown system radio /sys/class/power_supply/battery/batt_temp_table
   chown system radio /sys/class/power_supply/battery/batt_high_current_usb
   chmod 0664 /sys/class/power_supply/battery/batt_high_current_usb



on charger
    chmod 0664 /sys/class/power_supply/battery/batt_temp_table
    chown system radio /sys/class/power_supply/battery/batt_temp_table
    chown radio system /efs
    chmod 0771 /efs
    mkdir /efs/Battery 0775 radio system
    chown radio system /efs/Battery
    chmod 0775 /efs/Battery
